<div class="sidebar" id="sidebar">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="icon-pencil" title="添加人员"></i>

            </button>
            <button class="btn btn-info">
                <i class="icon-signal" title="绩效统计"></i>
            </button>
            <button class="btn btn-warning">
                <i class="icon-group" title="消息提醒"></i>
            </button>
            <button class="btn btn-danger">
                <i class="icon-coffee" title="招聘申请"></i>
            </button>
        </div>
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
        </div>
    </div><!-- #sidebar-shortcuts -->
    <ul class="nav nav-list">
        <li class="active">
            <a href="index.html">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> 首页 </span>
            </a>
        </li>
        <li>
            <a href="typography.html">
                <i class=" icon-folder-close"></i>
                <span class="menu-text"> 客户管理 </span>
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-envelope"></i>
                <span class="menu-text"> 消息提醒</span>
                <!--                        <b class="arrow icon-angle-down"></b>-->
            </a>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> 事务管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="tables.html">
                        <i class="icon-double-angle-right"></i>
                        接单
                    </a>
                </li>
                <li>
                    <a href="jqgrid.html">
                        <i class="icon-double-angle-right"></i>
                        送货
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-edit"></i>
                <span class="menu-text"> 采购管理 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
                <li>
                    <a href="form-elements.html">
                        <i class="icon-double-angle-right"></i>
                        采购单
                    </a>
                </li>
                <li>
                    <a href="form-wizard.html">
                        <i class="icon-double-angle-right"></i>
                        入库单
                    </a>
                </li>
                <li>
                    <a href="wysiwyg.html">
                        <i class="icon-double-angle-right"></i>
                        库存盘点
                    </a>
                </li>
                <li>
                    <a href="dropzone.html">
                        <i class="icon-double-angle-right"></i>
                        发票
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="widgets.html">
                <i class="icon-list-alt"></i>
                <span class="menu-text"> 统计 </span>
            </a>
        </li>

        <li>
            <a href="#" class="dropdown-toggle">
                <i class="icon-cog"></i>
                <span class="menu-text"> 控制面板 </span>
                <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu">
<!--                <li>-->
<!--                    <a href="chain">-->
<!--                        <i class="icon-double-angle-right"></i>-->
<!--                        门店管理-->
<!--                    </a>-->
<!--                </li>-->
                <li>
                    <a href="department">
                        <i class="icon-double-angle-right"></i>
                        部门管理
                    </a>
                </li>
                <li>
                    <a href="user">
                        <i class="icon-double-angle-right"></i>
                        人员管理
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="job">-->
<!--                        <i class="icon-double-angle-right"></i>-->
<!--                        职称管理-->
<!--                    </a>-->
<!--                </li>-->
                <li>
                    <a href="grade">
                        <i class="icon-double-angle-right"></i>
                        职级管理
                    </a>
                </li>
<!--                <li>-->
<!--                    <a href="pannel">-->
<!--                        <i class="icon-double-angle-right"></i>-->
<!--                        菜单管理-->
<!--                    </a>-->
<!--                </li>-->
                <li>
                    <a href="role">
                        <i class="icon-double-angle-right"></i>
                        权限分配
                    </a>
                </li>

            </ul>
        </li>

    </ul><!-- /.nav-list -->
    <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>